span{

    color: brown;
}

.part{
    background-color: aqua;
    margin: 50px auto;
    border: 5px solid saddlebrown;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    height: 500px;

}
.blog-title{

    align-items: center;
}
.title{

    text-align: center;
    font-size: 30px;
    font-style: oblique;
    font-weight: 600;
}